/* ===CSS Reset=== */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* ===primary css=== */
body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
   text-decoration: none;
   color: #000;
}
/* ===Utility=== */
/* bor-line sono utility da rimuovere___ */
.bor-line{
   border: 1px dashed black;
}
.container{
   margin: 0 auto;
   max-width: 900px;
}
.bg-grey{
   background-color: lightgray;
}
.btn{
   background-color: #fff;
   color: black;
   padding: 10px 12px;
   border: none;
   border-radius: 50px;
}
.btn:hover{
   background-color: #ffffffb4;
}
.btn-black{
   background-color: #000;
   color: #fff;
   padding: 10px 12px;
   border: none;
   border-radius: 50px;
}
.btn-black:hover{
   background-color: #000000b4;
}

/* =====Header style===== */
.header-section{
   background-image: url(/assets/img/jumbo.png);
   background-size: cover;
}
/* nav container */
header .navbar{
   padding-top: 15px;
   display: flex;
   justify-content: space-between;
}
.navbar .logo{
   width: 110px;
   height: 30px;
}
.navbar nav ul{
   display: flex;
   list-style: none;
}
.navbar ul li{
   padding: 5px 15px;
}
.navbar nav ul li a{
   color: #fff;
}
.navbar nav ul li a:hover{
   text-decoration: underline;
}
/* hero container */
.hero-container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 70px;
   color: #fff;
}
.hero-content{
   width: 600px;
   height: 280px; /*Da Rimuovere*/
   text-align: center;
}
.hero-content h1{
   font-size: 2rem;
   padding-bottom: 30px;
}
.hero-content p{
   font-size: 0.8rem;
   line-height: 20px;
   font-weight: 400;
}
.hero-content button{
   margin: 0 5px;
}
/* =====Main style===== */
/* banner section */
.banner-container{
   padding: 15px;
}
.banner{
   display: flex;
   height: 300px; /*Da Rimuovere*/
}
.banner .img{
   width: 70%;
}
.img img{
   width: 500px;
}
.banner .text{
   width: 30%;
}
.text h2{
   font-size: 1.9rem;
}
.text p{
   font-size: 0.9rem;
}
.end-banner{
   background-color: #218B21;
   height: 500px; /*Da Rimuovere*/
}

/* =====Footer style===== */
footer{
   background-color: #23272B;
}
/* footer section */
footer section{
   display: flex;
   height: 300px; /*Da Rimuovere*/
   padding: 10px 0;
   border-bottom: 1px solid #bbc0c3;
}
footer .footer-title{
   background-color: #F0817F;
   height: 280px; /*Da Rimuovere*/
   width: 30%;
}
footer .footer-info{
   background-color: #20B3AA;
   display: flex;
   height: 280px; /*Da Rimuovere*/
   width: 70%;
}
footer .footer-info div{
   width: 25%;
   border: 1px dashed black; /*Da Rimuovere*/
}
/* footer end */
.footer-end{
   display: flex;
   justify-content: space-between;
   background-color: #80FFD2;
   padding: 15px 0;
   margin-top: 10px;
}